/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Azeret Mono", monospace; */

/* Shared section */
.azeret-mono {
    font-family: "Azeret Mono", monospace;
}


/* Hero section style starts */
.hero {
    width: 1360px;
    height: 652px;
    margin: 131px auto;
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-position: center;

}

.hero-content {
    width: 900px;
    height: 582px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-content h1 {
    color: rgb(13, 19, 33);
    font-size: 45px;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
}

.hero-content p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.hero-btn {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 20px 17px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
}

/* Hero section style ends */

/* Development container style starts */
.development-container {
    width: 1000px;
    height: 1250px;
    margin: 70px auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px 80px 97px;
}

.content-container {
    width: 940px;
    height: 1246px;
    margin: auto;
}

.headign-text {
    width: 852px;
    height: 115px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headign-text h1 {
    color: rgb(13, 19, 33);
    font-size: 30px;
    font-weight: 800;
    line-height: 25px;
}

.headign-text p {
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
}

/* First content starts */
.first-content {
    width: 940px;
    height: 335px;
    margin-top: 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.first-contents {
    width: 844px;
    height: 239px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-left-section h4 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
}

.first-left-section p {
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.first-left-section button {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
}

/* First contents ends */

/* Second contents starts */
.second-content {
    width: 940px;
    height: 335px;
    margin-top: 32px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);

}

.second-contents {
    width: 844px;
    height: 239px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-right-section h4 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
}

.second-right-section p {
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.second-right-section button {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
}

/* Second contents ends */

/* Third section starts */
.third-content {
    width: 940px;
    height: 335px;
    margin-top: 32px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.third-contents {
    width: 844px;
    height: 239px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-left-section h4 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
}

.third-left-section p {
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.third-left-section button {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
}

/* Third contents ends */

/* Development container style ends */

/* Inspiration container style starts */
.inspiration-container {
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inspiration-description {
    width: 852px;
    height: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 35px;
}

.inspiration-description h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}

.inspiration-description p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.media-container {
    width: 1145px;
    height: 614px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-container iframe {
    width: 95%;
    height: 90%;
    border-radius: 16px;
}

/* Inspiration container style ends */

/* Current target style starts */
.current-target {
    width: 1140px;
    height: 460px;
    margin: 150px auto 50px auto;
}

.description {
    width: 852px;
    height: 113px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.description h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}

.description p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.cards {
    width: 1140px;
    height: 299px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.card1 {
    padding: 30px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.card1 h4 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
}

.card2 {
    padding: 30px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.card2 h4 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
}

.card3 {
    padding: 30px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.card3 h4 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
}

/* Current target style ends */

/* Feedback section style starts */
.feedback-container {
    width: 1140px;
    height: 313px;
    margin: 50px auto;
    border-radius: 16px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/handshake.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    width: 730px;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text h1 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}

.text p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.input-box {
    width: 684px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px;
    margin-right: 8px;
}

input[type="button"] {
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 17px 20px;
    font-size: 20px;
    font-family: "Azeret Mono", monospace;
    font-weight: 600;
    margin-left: 8px;
}

/* Feedback section style ends */